* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #f6f5f5;
  margin: 0;
  padding: 0;
}

h2,
p,
form {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #464646;
}

legend {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: rgb(43, 135, 55);
  font-weight: 700;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

input {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 5px 5px 5px 30px;
}

input:focus,
input:hover {
  box-shadow: 1px 1px 1px 1px #929292;
  border: 1px solid #3e61c9;
}

label {
  font-size: 75%;
  color: #464646;
  font-weight: 700;
}

.right-side {
  margin-left: 50px;
}

.fullname,
.row-2,
.row-3 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

button {
  border-radius: 5px;
  padding: 10px 50px;
  margin-top: 30px;
  border: none;
  background-color: #596d48;
  color: #fff;
  font-weight: 700;
}

button:hover {
  background-color: #3d4a31;
}

.top,
.bottom {
  margin-left: 30px;
}

.top {
  margin-top: 125px;
}

fieldset {
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px 2px #dbdbdb;
  background-color: #fff;
}

.image-container {
  margin: 0;
  padding: 0;
  position: relative;
  background: url(/photos/photo.jpg) center/cover no-repeat;
  width: 80%;
  height: 100vh;
}

.banner {
  position: absolute;
  top: 125px;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner img {
  background: url(/photos/transparent\ magic\ touch\ logo.png) cover;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
